:root {
    --white: #FFFFFF;
    --black: #003030;
    --lightgreen: #F1FDFE;
    --lightgray: #00000029;
    --green: #00A542;
    --black: #000000;
    --slightblack: #1E1A1A;
    --darkgray: #707070;
    --f2: #F2F2F2;
    --b6: #B6BEB9;
    --darkgreen: #1A5858;
    --f8: #F8F8F8;
    --be: #BEBDBD;
    --a4a: #4B4A4A;
    --f9: #F9F9F9;
    --ef: #EFEFEF;
    --a30: #22232A30;
    --seven0: #70707033;
    --f0: #0F0F0F;
    --three1: #313131;
    --triple1: #111312;
    --double1: #110F0F;
    --single1: #101110;
    --d4: #D4FEE5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0rem;
}

p {
    font-size: 1rem;
}

.btn {
    color: var(--f2);
    background: var(--green);
    border-radius: 2rem!important;
    padding: 9px 16px!important;
    border: 2px solid transparent;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    color: var(--green);
    border: 2px solid var(--green);
    background: transparent;
}

.container-fluid {
    position: relative;
    z-index: 5;
}

.bg-custom {
    display: flex!important;
    align-items: center;
    justify-content: space-between!important;
    background: transparent;
    position: absolute!important;
}

header {
    position: absolute;
    z-index: 1000;
    background: transparent !important;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem!important;
}

.navbar .navbar-left .logo {
    width: 100px;
    padding: 0 1rem;
}

.navbar .navbar-left .logo img {
    width: 350px;
}

.btn {
    border: 2px solid transparent !important;
}

.btn:hover {
    border: 2px solid var(--green) !important;
}

.navbar-right ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

.navbar-right ul li {
    margin: 0 .5rem;
    border: 3px solid transparent;
    padding: 1.25rem 0;
}

.navbar-right ul li:hover {
    border-bottom: 3px solid var(--green);
}

.navbar-right ul li a {
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.nav-right ul .nav-item {
    position: relative;
}

.dd-items {
    position: absolute;
    width: 100%;
    height: 85vh;
    background: white;
    padding: 2rem 3rem;
    padding-bottom: 0rem;
    left: 0%;
    top: 100%;
    box-shadow: 0px 3px 55px rgba(0, 0, 0, .15);
    transition: 2s;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.01s;
}

.dd-items .col-lg-3 {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;
}

.dd-items a {
    color: #000 !important;
    padding: .5rem 0;
}

.dd-items .list {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.dd-items .main-heading h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.dd-items .times {
    position: absolute;
    top: -10px;
    right: 0px;
    border: 2px dashed var(--green) !important;
    background: transparent;
    color: #00A542;
    z-index: 1200;
}

.dd-items a {
    font-size: 1rem !important;
    display: flex;
    align-items: center;
}

.dd-items .heading h4 {
    font-weight: bold;
}

.navbar-right ul li {
    transition: 1s;
}

.navbar-right ul li .dd-items {
    opacity: 0;
    transition: .3s;
}

.navbar-right ul li:hover .dd-items {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.background .btn {
    color: var(--f2);
    background: var(--green);
    border-radius: 2rem;
    padding: 9px 16px;
    font-weight: 500;
    width: 55%;
    text-align: center;
    margin: .5rem auto;
}

.background {
    background: #f4f4f4;
    padding: 1rem;
    width: 100%;
    margin: auto !important;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.dropdown-item {
    padding-left: 15px;
    font-weight: 600;
}

.background .dropdown-item {
    padding-left: 15px;
}

.dropdown-item.green {
    text-align: center;
    color: var(--green)!important;
}

.col-sm-4 hr {
    margin-bottom: 0rem;
}

.home {
    height: 100vh;
    background: url(./images/Group\ 2661.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .btn {
    padding: .5rem 2rem !important;
}

.main {
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}

.main h1 {
    font-size: 72px;
}

.main p {
    font-size: 28px;
    width: 65%;
    margin: 1.25rem auto;
}

.arrows {
    position: absolute;
    bottom: 50px;
    right: 170px;
    width: 6.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrows img {
    width: 40px;
}

.buttons .btn {
    padding: 13px 65px;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.btn-default {
    color: var(--green);
    background: white;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.about h4 {
    font-size: 25px;
    color: var(--green);
    font-weight: normal;
}

.about .left,
.about .right {
    padding: 1rem;
    width: 50%;
    height: 50%;
    margin: auto;
}

.about .left {
    line-height: 36px;
}

.about .right img {
    width: 550px;
    margin: 1rem;
    float: right;
}

.services {
    text-align: center;
}

.service {
    padding: 2rem;
    text-align: center;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.base {
    width: 300px;
    margin: 1rem;
    -webkit-perspective: 4500px;
    perspective: 4500px;
    border-radius: 1rem;
    perspective-origin: bottom;
    -webkit-perspective-origin-x: left;
    -webkit-perspective-origin-y: bottom;
}

.cards {
    width: 300px;
    height: 300px;
    background: white;
    box-shadow: 0px 3px 55px #00000029;
    color: #111;
    border-radius: 1rem;
    text-align: center;
    padding-top: 30%;
    -webkit-transform: rotateY(-deg);
    transform: rotateY(-15deg);
    position: relative;
    cursor: pointer;
}

.icons {
    fill: #00A542;
}

.icons {
    fill: #00A542;
}

.cards:hover {
    background: var(--green);
    color: #fff;
    fill: #fff;
}

.card2 {
    -webkit-transform: rotateY(15deg);
    transform: rotateY(15deg);
}

.cards .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: .5rem;
}

.content-img {
    margin: 1rem;
}

.polygon {
    position: absolute;
    left: 0;
    z-index: -2;
}

.box {
    border-radius: 1rem;
    width: 350px;
    height: 344px;
}

.box .left {
    position: relative;
    width: 100%;
    height: 100%;
}

.left-img,
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.outer {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, .2));
}

.inner {
    display: inline-block;
    color: red;
    margin: 10px;
    filter: url(#round);
}

.shape-outer {
    display: flex;
    flex-shrink: 0;
    height: calc(225px + 4vw);
    width: calc(225px + 4vw);
    margin: 20px 5px;
    background: white;
    position: relative;
}

.icons {
    width: 55px;
    height: 55px;
    margin: 1rem;
}

.shape-outer:hover,
.shape-inner:hover,
.shape-inner:hover .small,
.shape-inner:hover .icons {
    background: var(--green);
    color: white!important;
    fill: var(--f2);
}

.shape-inner {
    height: calc(230px + 4vw);
    width: calc(230px + 4vw);
    margin: auto;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    padding: 2rem 1rem;
}

.shape-inner h4 {
    text-transform: uppercase;
    margin: .5rem 0;
    font-size: 20px;
    font-weight: bold;
}

.shape-inner p {
    font-size: 14px;
}

.trapezoid {
    -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    border-radius: 1rem;
}

.small {
    text-align: right;
    color: #00A542;
}

.one {
    -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    border-radius: 1rem;
}

.counter-box {
    display: block;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #FFFFFF;
}

.counter-box h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00A542;
    margin: .5rem;
}

.counter {
    font-size: 32px;
    font-weight: bolder;
    line-height: 28px;
    color: #00A542;
    animation-duration: 1s;
    animation-delay: 0s;
}

.contact {
    background: url(./images/Group\ 2663.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    text-align: center;
    padding: 2rem;
    color: var(--f2);
}

.contact h4 {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 35px;
    font-size: normal;
}

.contact p {
    font-size: 16px;
}

.contact .btn {
    padding: 13px 78px;
}

.contact .container-fluid {
    padding-top: 3rem;
}

.contact .container-fluid .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.counter-box img {
    width: 72px;
    height: 72px;
}

.tech {
    padding: 89px;
    text-align: center;
    height: 100vh;
}

.tech .nav-tabs {
    width: auto;
}

#tabs {
    color: #111;
}

#tabs h6.section-title {
    color: #111;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #00A542!important;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid #00A542 !important;
    font-size: 20px;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #111;
    font-size: 1rem;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
    flex-wrap: wrap;
    width: 100%;
}

.techno {
    margin: 1rem;
    padding: 1rem;
    width: 150px;
    height: 150px;
}

.techno img {
    width: 60px;
    height: 60px;
    margin: 1rem;
}

.services-2 {
    height: 1046px;
    background: #F1FDFE 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.services-2 .heading {
    padding: 4rem 6rem;
    margin: 2rem;
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-2 .heading .right {
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: space-between;
}

.services-2 .heading .right i {
    font-size: 1.75rem;
    color: #B6BEB9;
}

.services-2 .heading h1 {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin: .75rem 0;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    display: flex;
    width: 346px!important;
    height: 500px!important;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #003030;
    background-clip: border-box;
    border-radius: 11px;
    padding: 1rem;
    box-shadow: 0px 3px 15px #00000029;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.items {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-list {
    height: 570px;
    padding: 30px!important;
}

.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}

.circle .media-content:before {
    width: 40%;
    left: 30%
}

.profileimg {
    width: 100%;
    height: 200px;
    border-top-left-radius: 11px !important;
    border-top-right-radius: 11px
}

.card-title {
    font-size: 19px;
    font-weight: 200
}

.card h4 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: .75rem 0;
    font-weight: normal;
}

.card p {
    letter-spacing: 0px;
    color: #f2f2f2;
    opacity: .8;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 4rem;
}

.services-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}

.services-card .s-img {
    position: absolute;
    z-index: 0;
    left: -2%;
    height: 100%;
}

.services-card .small {
    color: var(--green);
    text-transform: uppercase;
}

.services-card .slick-slide {
    background: #003030;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 74px;
    background: #000000;
    color: #f2f2f2;
}

.project-0 h4 {
    font-size: 1rem;
    font-weight: normal;
}

.project-0 h1 {
    font-size: 1.5rem;
    width: 100%;
    margin: .5rem 0;
}

.line {
    width: 1px;
    height: 60px;
    background: var(--b6);
}

.project-1 p {
    padding: 1rem;
    padding-top: 2rem;
    font-size: .75rem;
}

.projects .btn {
    padding: 9px 40px;
}

.col-md-5 {
    width: 40%;
}

.cards-projects {
    border: 1px solid #00A542;
    padding: 4rem;
}

.cards-pro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.cards-pro img {
    width: 100%;
}

.middle .btn {
    border-radius: 0rem!important;
    padding: 9px;
    width: 45px;
    height: 45px;
}

.card1 {
    position: relative;
}

.middle {
    width: 310px;
    height: 458px;
    position: absolute;
    top: 0%;
    text-align: center;
    background: rgba(0, 165, 66, .25);
    opacity: 0;
    cursor: pointer;
}

.middle .btnss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle .btn.big {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 310px;
}

.middle .btn:hover,
.middle .btn.big:hover {
    background: #fff;
    font-weight: bold;
}

.card1:hover .image {
    opacity: 0.3;
}

.card1:hover .middle {
    opacity: 1;
}

.news {
    background: url(./images/pattern-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
    padding: 3rem 0;
}

.news .heading {
    text-align: center;
    margin: 3rem 0;
}

.news .news-cards {
    margin: 3rem;
}

.news .news-cards h6 {
    font-size: .8rem;
    margin: .5rem;
}

.heading h1 {
    font-size: 1.5rem;
    margin: .25rem;
    font-weight: 600;
}

.heading h4 {
    font-size: 1.2rem;
}

.news .heading h4 {
    color: #00A542;
}

.news h2 {
    margin: .5rem;
    font-size: 1.25rem;
}

.news p {
    margin: 1rem .5rem;
    font-size: 14px;
}

.news .small {
    text-transform: uppercase;
    color: black;
}

.small-img {
    width: 80px;
    height: 80px;
    margin: 1rem .5rem;
}

.big-img {
    width: 100%;
}

.big-card {
    width: 86.5%;
}

.news1 {
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    padding: 0.5rem;
    background: #F8F8F8;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
}

.green,
.green .small {
    background: #003030;
    color: var(--f2);
}

.darkgreen,
.darkgreen .small {
    background: #00A542;
    color: #fff;
}

.news .row {
    margin: auto 0rem;
}

.news .col-5,
.news .col {
    padding: 0rem;
    width: 100%;
}

.testimonial {
    height: 107vh;
    background: url(./images/testimonial.png);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 4rem;
    text-align: center;
}

.testimonial .heading h4 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 1rem 0;
    margin-bottom: .5rem;
}

.testimonial .heading h1 {
    font-size: 1.5rem;
}

.testimonial-1 {
    background: #1A5858;
    padding: 2rem 2.4rem;
    width: 400px;
    height: auto;
    border-radius: 54px 0;
    text-align: left;
    margin: 1rem;
    position: relative;
}

.testimonial-1 .lines {
    width: 60px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
    margin-bottom: 1rem;
}

.testimonial-1 .lines .darkline {
    width: 15px;
    height: 7vh;
    background: #00A542;
}

.testimonial-1 p {
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.testimonial-1 .desc {
    position: absolute;
    left: 32%;
    bottom: -30%;
}

.testimonial-1 .desc img {
    width: 100px;
    height: 100px;
}

.testimonial-1 .desc p {
    text-align: center;
}

.test {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client {
    padding: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.clients .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.clients .row .col {
    width: 100%;
    padding: 1rem;
}

.clients .row .col img {
    width: 225px;
    margin: 0;
}

.clients .row:nth-child(2) .col:nth-child(1),
.clients .row:nth-child(2) .col:nth-child(4) {
    width: 260px;
    height: 105px;
}

.clients .row:nth-child(3) .col:nth-child(4) {
    width: 290px;
    height: 105px;
}

.clients .row:nth-child(2) .col:nth-child(1) img {
    width: 150px;
}

.clients .row:nth-child(2) .col:nth-child(4) img,
.clients .row:nth-child(3) .col:nth-child(4) img {
    width: 125px;
}

.clients .row:nth-child(3) .col:nth-last-child(1) img {
    width: 150px;
    margin: 5px 1rem;
    margin-left: 2rem;
}

.contactus {
    height: auto;
    position: relative;
}

.contactus form {
    background: #fff;
    color: #000;
    padding: 2rem;
    width: 500px;
    border-radius: 1rem;
    box-shadow: 0px 3px 25px #00000029;
    text-align: left;
    position: absolute;
    top: 2%;
    right: 5%;
}

.contactus form h1 {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

.contactus .heading {
    padding: 3rem 4rem;
}

.contactus .heading h4 {
    color: var(--green);
    font-weight: bold;
}

.heading h4 {
    font-weight: bold;
}

.contactus .heading h1 {
    margin-left: 0rem;
}

.contact0 {
    background: url(./images/contactus.png);
    background-size: cover;
    height: 110vh;
    color: #fff;
    padding: 1rem 2rem;
}

.form-group label,
.form-group input {
    width: 100%!important;
}

.iti {
    width: 100%!important;
}

.contact0 .left {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.contact0 .left .desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    padding: 1rem 0;
    margin: 1rem;
}

.contact0 .left .medias {
    width: 50%;
}

.contact0 .left .medias img {
    width: 100%;
    margin: 1rem;
}

.note {
    margin: 1rem;
    padding: 2rem 0;
}

.contact0 .left .desc {
    align-items: baseline;
}

.left .desc div {
    margin-right: 1rem;
}

.left .desc h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.left .desc p {
    font-size: 14px;
    padding: 1rem 0;
}

.left .medias img {
    width: 70px;
    margin: 1rem 0;
}

.left .medias h3 {
    font-size: 1.3rem;
}

.left .medias a {
    text-decoration: none;
    color: #fff;
    margin: 5px 0;
}

.left .medias i {
    padding: .5rem;
    font-weight: normal;
    width: 35px;
    height: 35px;
    margin: 10px 5px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
}

.footer {
    padding: 2rem;
}

.footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .bottom p {
    font-size: 14px;
    padding: 1rem;
    margin: 1rem;
}

.footer .bottom .logo {
    width: 300px;
    margin: 0rem;
    padding-right: 0rem;
}

.footer .media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.footer .media img {
    width: 40px;
}

.polygon {
    display: none;
}

.mobile-menu {
    width: 100%;
    color: #000;
    display: none !important;
}

header {
    display: block !important;
}

li:hover {
    cursor: pointer;
}

.links {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.links li {
    list-style: none;
    border: 2px solid white;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 3px 20px rgba(0, 165, 66, .2);
}

.links li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--green);
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 22px;
    }
    .background .btn {
        width: auto;
    }
    header {
        display: none !important;
    }
    .mobile-menu {
        display: block !important;
    }
    .header {
        border: 1px solid wheat;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 1200;
        padding: .5rem;
    }
    .header .btn {
        background: #00A542;
    }
    .header .btn:hover {
        background: #00A542;
        color: #fff;
    }
    .header .logo {
        width: 60%;
    }
    .header .logo img {
        width: 100%;
    }
    .nav-menu ul li {
        list-style: none;
        padding: 1rem 0;
    }
    .nav-menu ul li a {
        font-size: 20px;
        color: #000;
    }
    .navbar {
        border: 1px solid black;
        flex-direction: column;
    }
    .mobile-menu .header {
        width: 100%;
    }
    .mobile-logo {
        width: 50%;
    }
    .mobile-logo img {
        width: 100%;
    }
    .mobile-menu .nav-right {
        background: white;
        color: #000;
    }
    .mobile-menu .navbar-right ul {
        flex-direction: column;
    }
    .mobile-menu .navbar-right ul li a {
        color: #000;
    }
    .mobile-menu .dd-items {
        z-index: 10000;
    }
    .mobile-navs {
        position: fixed;
        z-index: 1000;
        background: white;
        width: 100%;
        height: 90vh;
        top: 7.5%;
        margin: 1rem auto;
        padding: 2rem 1.5rem;
        box-shadow: 0px 3px 22px rgba(255, 255, 255, .5);
        transition: .5s;
        display: none;
    }
    .block {
        display: block;
    }
    .mobile-navs li {
        list-style: none;
    }
    .mobile-menu .nav-link {
        padding: .5rem 0;
        color: #000;
    }
    .mobile-serv {
        position: relative;
        padding: 0rem;
    }
    .mobile-serv .dd-items {
        visibility: hidden;
        z-index: 4000;
        position: absolute;
        padding: 2rem 0rem;
    }
    .mobile-serv:hover .dd-items {
        display: block;
        visibility: visible;
    }
    .mobile-serv .dd-items .times {
        position: absolute;
        top: -8px;
        right: 15px;
        border: 2px dashed var(--green) !important;
        background: transparent;
        color: #00A542;
        z-index: 1200;
    }
    .mobile-tech .dd-items {
        visibility: hidden;
        z-index: 10000;
        top: 20%;
        padding: 0rem;
        transform: none;
        opacity: 0;
    }
    .mobile-tech:hover .dd-items {
        visibility: visible;
        opacity: 1;
    }
    .tech-drop .row {
        padding: 1rem;
        position: relative;
    }
    .tech-drop .row .col-sm-3 {
        padding: 2rem 1rem;
        padding-top: 3.5rem;
    }
    .tech-drop .dd-items {
        top: 0px;
        visibility: hidden;
    }
    .tech-drop .tech-btn {
        position: absolute;
        top: 15px !important;
        right: 30px !important;
    }
    p,
    .main p {
        font-size: 16px;
        width: 100%;
    }
    .main {
        padding: 1rem 1.5rem;
        top: 35%;
        left: 0%;
        transform: translate(0px, 0px);
    }
    .main h1 {
        font-size: 30px;
    }
    .main .buttons .btn {
        padding: 5px 20px;
        margin: auto;
        font-size: 1rem;
    }
    .arrows {
        display: none;
    }
    .about {
        padding: 0;
        flex-direction: column-reverse;
    }
    .about h4 {
        font-size: 1.2rem;
    }
    .about .left,
    .about .right {
        width: 100%;
    }
    .about h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }
    .about .right {
        padding: 0rem;
        display: none;
    }
    .about .left {
        line-height: 30px;
    }
    .services {
        padding: 1rem;
        height: auto;
    }
    .services h4 {
        font-size: initial;
        font-weight: 600;
    }
    .shape-outer {
        height: calc(300px + 4vw);
        width: calc(300px + 4vw);
        margin: 10px 5px;
    }
    .shape-inner {
        padding: 2rem 0;
    }
    .contact {
        height: auto;
    }
    .contact .btn {
        padding: .5rem 1.5rem;
    }
    .contact h4 {
        margin: 1rem;
        font-size: 1.3rem;
    }
    .contact p {
        font-size: .9rem;
    }
    .contact .container-fluid {
        padding-top: 0rem;
    }
    .counter-box {
        display: block;
        padding: 30px 20px;
        text-align: center;
    }
    .tech {
        padding: 5px;
        text-align: left;
        height: auto;
    }
    .tech .heading {
        margin: 1rem;
        margin-top: 2rem;
    }
    .techno {
        width: auto;
        height: auto;
        padding: 0rem;
        margin: 0rem;
    }
    .tech .nav-link {
        padding: .75rem;
    }
    .tech .tab-content {
        padding: 0rem;
        width: 100%;
    }
    .tech .col-xs-12 {
        overflow: hidden;
    }
    .tech .col-xs-12 nav {
        overflow-x: auto;
    }
    .tech .col-xs-12 .nav-tabs {
        overflow-x: scroll;
        width: 550px !important;
        overflow-y: hidden !important;
    }
    .tech .nav-tabs {
        width: 550px;
    }
    .techno p {
        text-align: center;
    }
    .techno img {
        width: 50px;
        height: 40px;
        margin: 1rem 1.5rem;
    }
    .services-2 {
        padding: 1rem 0;
        height: 750px;
    }
    .services-2 .heading {
        padding: .5rem;
        margin: .5rem;
    }
    .services-card .s-img {
        display: none;
    }
    .services-card .items {
        display: flex;
        flex-wrap: nowrap;
    }
    .services-card .slick-slide {
        margin: auto .1rem;
    }
    .services-card .small {
        color: var(--green);
        text-transform: uppercase;
        margin-bottom: 0rem;
        cursor: pointer;
    }
    .services-card .card-body {
        padding: 1rem;
    }
    .services-2 .heading {
        text-align: center;
    }
    .services-2 .heading h1 {
        font-size: 20px;
    }
    .services-2 .heading .right {
        display: none;
    }
    .projects {
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .project-1 p {
        padding: 0;
        font-size: 1rem;
    }
    .projects .line {
        display: none;
    }
    .services-2 {
        width: auto;
        overflow: hidden;
        height: auto;
    }
    .services-card {
        overflow: hidden !important;
    }
    .services-2 .card {
        width: 297px !important;
        height: auto !important;
        min-width: 100px !important;
    }
    .cards-projects {
        padding: 0rem;
        border: none;
    }
    .cards-pro {
        flex-direction: column;
    }
    .cards-pro .card1 {
        margin: 1rem;
    }
    .cards-pro .middle {
        width: 297px;
        opacity: 0;
    }
    .middle .btn.big {
        width: 297px;
    }
    .footer {
        padding: 1rem;
    }
    .footer .bottom {
        flex-direction: column;
    }
    .footer .media {
        width: 100%;
    }
    .footer h4 {
        font-size: 1.25rem;
        font-weight: bold;
    }
    .news {
        padding: 0rem;
        height: auto;
    }
    .news .heading {
        padding: 1rem;
        margin: 0rem;
    }
    .news .news-cards {
        margin: 1rem;
    }
    .news-cards .row {
        flex-direction: column;
        height: auto;
    }
    .news .col-5,
    .news .col {
        width: 100%;
        min-height: 20rem;
    }
    .news .col-5 {
        min-height: 0rem;
    }
    .news .big-img {
        display: none;
    }
    .news h2 {
        margin: 0rem;
    }
    .news .news-cards h6 {
        margin: 0rem;
    }
    .news .big-card {
        max-width: max-content;
        min-height: 20rem;
    }
    .col-img {
        display: none;
    }
    .news p {
        margin: 0rem;
    }
    .testimonial {
        height: auto;
        padding: 1rem;
    }
    .testimonial .test {
        flex-direction: column;
    }
    .testimonial-1 {
        width: 320px;
        padding: 2rem 1rem;
        margin-bottom: 7rem;
    }
    .polygon {
        display: none;
    }
    .client {
        padding: 1rem;
    }
    .clients .row {
        margin: 0rem;
    }
    .contactus .heading {
        padding: 1rem;
    }
    .contactus .heading h4 {
        color: var(--green);
        font-weight: bold;
    }
    .contact0 .left .desc,
    .contact0 .left .medias {
        flex-direction: column;
        width: 100%;
        padding: auto;
        margin: 0rem;
    }
    .contact0 .left .medias div {
        width: 100%;
    }
    .contactus {
        height: auto;
    }
    .contact0 {
        padding: 1rem;
        height: auto;
    }
    .contactus form {
        width: 325px;
        padding: 1rem;
        position: initial;
    }
    .contact0 .left .medias img {
        margin: auto;
    }
    .note {
        margin: 0rem;
    }
    .footer .dropdown-item {
        padding: .25rem;
    }
    .footer .col-md-3 {
        margin: .5rem 0;
    }
}

.footer ul {
    margin: 1rem 0;
}

.footer li {
    list-style: none;
}

.footer li a {
    color: #444;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.small {
    cursor: pointer;
}

.col-img {
    height: 100%;
}